<section id="come-say-hi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
<h3 class="section-subheading text-muted">We use Gitter to discuss about project. Join us there!</h3>
                    <h2 class="section-heading"><a href="https://gitter.im/Open-Leadership-Localisation-of-School/Lobby" class="btn btn-xl">Join Gitter and Say Hi!</a></h2>
                    
                </div>
            <!--</div>
             <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="{{ site.github.issues_url }}" class="btn btn-xl">Talk To Us</a>
                  </div>
            </div>-->
	<div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">We are using twiter as social media platform. Follow us to get updates.
		</h3>
                </div>
            </div>
	<div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="https://twitter.com/joinlocalweb" class="btn btn-xl">Follow us on Twiter</a>
                  </div>
            </div>            
            
        </div>
    </section>
