<section id="friends-and-resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Updates on Web literacy & Localisation</h2>
        <h3 class="section-subheading text-muted">Get involved in the <a href="https://wiki.mozilla.org/L10n:Home_Page">Mozilla L10n communities,</a> one of the largest community L10n projects on the face of the Earth.</h3>
	<h3 class="section-subheading text-muted">Connect the half world to the Internet.Learn read, write and participate on web. Join <a href="https://learning.mozilla.org/en-US/web-literacy">Web Literacy</a></h3>

      </div>
    </div>
    <div class="col-lg-12">
      <ul>
<li>
          <a class='eventTitle' href="https://blog.mozilla.org/blog/2017/05/23/mozilla-thimble-gets-makeover/">Mozilla Thimble Gets a Makeover</a>
          <div class='eventSub'>Thimble has taught hundreds of thousands of people across more than 200 countries. It’s been localized into 33 languages, and used in classrooms, at hackathons and at home.  </div>
        </li>
<li>
<a class='eventTitle' href="https://blog.google/topics/internet-access/empowering-new-generation-localization-professionals/"> Google Empowering a new generation of localization professionals</a>
<div class='eventSub'>It's Mission is to create a diverse user experience that fits every language and every culture.  </div>
</li>
	    <li>
          <a class='eventTitle' href="https://theoutline.com/post/1542/why-china-is-trying-to-learn-africa-s-languages">Why china trying to learn Africa's Language?</a>
          <div class='eventSub'> Major economic development initiative, called the the “Belt and Road Initiative,” a global trade network to connect Asia with Europe and Africa along five trade routes.</div>
        </li>
		<li>
          <a class='eventTitle' href="https://internethealthreport.org/v01/web-literacy/">Internet Health Report on Web Literacy</a>
          <div class='eventSub'>Web literacy skills, including but not limited to coding, will become more important to the jobs of tomorrow.  As such, we are likely to see socio-economic divides grow between those with Web literacy skills and those without. And as usual, women, rural and marginalized populations, currently stand last in line to benefit in any way..</div>
        </li>
		
        
      </ul>
    </div>
  </div>
</section>
